*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --text-color:#fff;
    --background:#f8f8f8;

    
}

body{
    font-family: "cairo";
}

.brand{
    color: #b45b35;
}

.btn{
    background-color: #f8f8f8 !important;
    color: #b45b35;
    border: 1px solid #b45b35;
}
.btn:hover{
    background-color: #b45b35 !important;
    border:  1px solid #b45b35 !important;
}

.menu{
    color: #b45b35;
}

.underLine{
    height: 5px !important;
    color: #b45b35 !important;
    background-color: #b45b35;
    width: 200px !important;
    border-radius: 5px;
}

.card{
    border: 1px solid #b45b35;
    position: relative;
    height: 200px ;
}

.card img{
   
    height: 180px !important;
    border-radius: 15px;
    padding: 10px;
    width: 250px;
}
.card p{
   
   font-weight: 700;
}

.card .price{
color: #b45b35 !important;
font-weight: bold;    
}
